/* No CSS *//*# sourceMappingURL=style.css.map */
img {
      width:100%;
      height:100%;
      object-fit:cover;
      transition:0.5s all;
}
img:hover{
      transform: scale(1.03);
}
.section__item h2{
      text-align: center;
      color: palevioletred;
      font-weight: 700;
      
}
.section__item .items{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 25px;
}

.section__item .items .item {
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    margin-bottom: 30px;
    border: 1px solid pink;
    border-radius: 10px;
    box-shadow: 5px 5px 5px  pink;
    overflow: hidden;
}

.section__item .items .item ._btn{
      position: absolute;
      top: -40px;
      left: 29%;
      z-index: 333;
      width: 120px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgb(246, 6, 242);
      border-radius: 10px;
      background-color: #fff;
      color: rgb(246, 6, 242);
      transition: all .5s ease-in-out;
      font-size: 16px;
      font-family: Roboto,sans-serif;
      text-decoration: none;
}

.section__item .items .item:hover ._btn{
      position: absolute;
      top: 60px;
      left: 29%;
}


/* NEWS PAGE */

.section__item .news {
      width: auto;
      min-height: 10px;
}

.section__item .news .new {
      /* border: 2px solid black; */
      margin-top: 50px;
      padding: 40px;
      width: 750px;
      height: 320px;
      margin: auto;
}
.section__item .news .new .btn {
      border-radius: 25%;
      background-color: pink;
      opacity: 0.8;
      color: blueviolet;
      font-weight: 700;
      padding: 10px;
}

.section__item .news .new .btn:hover{
      transform: scale(1.5);
}

.section__item .news .new h4 {
      color: blueviolet;
      font-weight: bold;
}